@use "../../Custom" as *;


.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &--burger {
    width: 1.8rem;
    height: 0.25rem;
    border-radius: 0.2rem;
    background: $darkGrey;
    box-shadow: 0 2px 3px rgba(48, 48, 48, 0.3);
    transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1.8rem;
      height: 0.25rem;
      border-radius: 0.2rem;
      background: $darkGrey;
      box-shadow: 0 2px 3px rgba(48, 48, 48, 0.3);
      transition: all 0.5s ease-in-out;
    }

    &::before {
      transform: translateY(-0.625rem);
    }

    &::after {
      transform: translateY(0.625rem);
    }
  }
}

.menu-btn--open .menu-btn--burger {
  transform: translateX(-1.25rem);
  background: transparent;
  box-shadow: none;
}

.menu-btn--open .menu-btn--burger::before {
  transform: rotate(45deg) translate(0.8rem, -0.8rem);
}

.menu-btn--open .menu-btn--burger::after {
  transform: rotate(-45deg) translate(0.8rem, 0.8rem);
  //translate(1.367rem, 1.367rem);
}