@use "./Custom" as *;


//Base
body {
  background: #f9f9f9;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  height: 100%;
}

//NAVIGATION BAR
nav {
  width: 100%;
  min-height: 8vh;
  display: flex;
  padding-bottom: 0.25rem;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.navbar-header {
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-right: 1.4rem;
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  z-index: 10;

  &--shadow {
    background-color: #fff;
    padding-top: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  }

  //&--collapsed {
  //  height: 5rem;
  //}
}

//.navbar-shadow {
//  box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
//}

//Menu Links

.nav-links {
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin: auto;

  li {
    padding: 0.94rem;
    list-style: none;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.9rem;
      position: relative;
      padding: 15px 0 10px;
      color: #303030;
      outline: 0;
    }

    a:hover, a:focus {
      background: transparent;
    }

    a::before {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 1.125rem;
      width: 0;
      height: 0.063rem;
      background-color: #303030;
      -webkit-transition: width .25s ease-in-out;
      transition: width .25s ease-in-out;
    }

    a:hover:before {
      width: 100%;
    }
  }
}

@media screen and(max-width: 991px) {
  .nav-links {
    top: 8vh;
    width: 100%;
    position: absolute;
    height: 92vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    li {
      padding: 10px 15px;

      a {
        font-size: 1.5rem;
        text-space: 0.4rem;
      }

      a:before {
        height: 0.188rem;
        bottom: 1.5rem
      }
    }
  }
  .nav-links--collapse {
    display: none;
  }
}

/////Logo
.logo {
  padding-left: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.25rem;
}

//////
.toggle-btn {
  @media screen and(min-width: 991px) {
    display: none;
  }
}

//Hero Space
.top-space {
  margin-top: 5rem;
}

//
.btn-square {
  border-radius: 0;
}


.btn-contact {
  margin-left: 1rem;
  @media screen and(max-width: 991px) {
    display: none;
  }
}


.btn-outline-primary:focus,
.btn-outline-primary:active:focus {
  box-shadow: none;
}
