@use "./Custom" as *;

body {
  background: #f9f9f9;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  height: 100%;
}

//NAVBAR
.header--navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  -webkit-transition: .25s;
  transition: .25s;
  z-index: 1;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  -webkit-transition: .25s;
  transition: .25s;
  z-index: 10;

  &--shadow {
    background-color: #fff;
    padding-top: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  }

  //&--collapsed {
  //  height: 5rem;
  //}
}


//Menu Links

.header--nav {
  float: right;

  .navbar-nav {
    display: flex;
    height: 100%;
    align-items: center;
    margin: auto;
    list-style: none;

    .navbar {
      min-height: 0;
      margin-bottom: 0;
      border: none;
      border-radius: 0;
    }

    li {
      padding: 0.94rem;
      text-decoration: none;

      a {
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        padding: 15px 0 10px;
        color: #303030;
        outline: 0;
      }

      a:hover, a:focus {
        background: transparent;
      }

      a::before {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 0;
        height: 1px;
        background-color: #303030;
        -webkit-transition: width .25s ease-in-out;
        transition: width .25s ease-in-out;
      }

      a:hover:before {
        width: 100%;
      }
    }
  }

  @media screen and(max-width: 991px) {
    display: none;
  }

}

/////Logo
.logo {
  padding-left: 10px;
  //margin-left: 1.5rem;
}

.header-navbar--nav {
  float: right;
}

//////
.toggle-btn {
  @media screen and(min-width: 991px) {
    display: none;
  }
}

//Hero Space
.top-space {
  margin-top: 5rem;
}

//
.btn-square .btn--primary {
  display: inline-block;
  padding: 16px 30px 15px 29px;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    box-shadow: none;
    text-decoration: none;
    outline: 0;
  }
}

.btn-contact {
  margin-left: 1rem;
  @media screen and(max-width: 991px) {
    display: none;
  }
}


.white-font {
  color: $white !important;
}

.navbar-shadow {
  box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
}

.icon-color {
  color: $darkGrey !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active:focus {
  box-shadow: none;
}
